<head>
    <title></title>
</head>

<body>

    <h1>Students Marklist</h1>

    <ng-container>
        <button class="notification" mat-raised-button color="accent"  [style.marginRight.px]="20"
            style="display: flex; justify-content:flex-end" routerLink="/admin">
            <mat-icon matTooltip="Home Page">home</mat-icon> Home
        </button>
    </ng-container>
    <br>
    <br>
    <!-- <div class="fluid-container">
     
        <ul class="info-list">
            
            <li><b>Name</b>{{name}}</li>
            <li><b>Roll No</b>{{rollNo}}</li>
            <mat-icon matTooltip="marks" (click)="fetchMarks()">list</mat-icon> Marks
          </ul>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- First List Item -->
          <mat-list>
            <mat-list-item>
              <!-- Your content for the first list item -->
              <span style="color:brown;font-weight: 500;">Name&nbsp;:&nbsp;{{name}}</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="col-md-6">
          <!-- Mat Icon -->
          <mat-icon matTooltip="marks" (click)="fetchMarks()" style="color:brown;font-weight: 500;">list</mat-icon>
          <span style="color:brown;font-weight: 500;">Marks</span> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Second List Item -->
          <mat-list>
            <mat-list-item>
              <!-- Your content for the second list item -->
              <span style="color:brown;font-weight: 500;">Roll No &nbsp;:&nbsp;{{rollNo}}</span>
            </mat-list-item>
          </mat-list>
        </div>
        <!-- Add another column if needed -->
      </div>
    </div>
    
    <br>

    <div class="box">
        <br>
        <div class="container">
            <div class="row" id="sub">
                <div class="col-sm">
                    English
                    <input matInput type="text" [(ngModel)]="marksList.english">

                </div>
                <div class="col-sm">
                    Maths
                    <input matInput type="text" [(ngModel)]="marksList.maths">
                </div>
                <div class="col-sm">
                    Science
                    <input matInput type="text" [(ngModel)]="marksList.science">
                </div>
                <div class="col-sm">
                    Social
                    <input matInput type="text" [(ngModel)]="marksList.social">
                </div>
                <div class="col-sm">
                    Tamil
                    <input matInput type="text" [(ngModel)]="marksList.tamil">
                </div>
            </div>

            <!-- <div class="row" id="sub">
            <div class="col-sm" style="margin-left:25px">
                <input matInput type="text" [(ngModel)]="eng">
            </div>
            <div class="col-sm">
                <input matInput type="text" [(ngModel)]="mat">
            </div>
            <div class="col-sm">
                <input matInput type="text" [(ngModel)]="sci">
            </div>
            <div class="col-sm">
                <input matInput type="text" [(ngModel)]="soc">
            </div>
            <div class="col-sm">
                <input matInput type="text" [(ngModel)]="tam">
            </div>
        </div> -->
            <br>
            <br>

            <div class="text-center">

                <button type="button" class="btn btn-primary" style="color:brown"
                    (click)="add(marksList.english,marksList.maths,marksList.science,marksList.social,marksList.tamil)">ADD</button>
            </div>




            <br>
            <br>
        </div>
    </div>

    <br>
    <br>

    <div *ngIf="markList">
        <div class="fluid-container">
            <h4>
                <ul class="info-list">
                    <li><b>English</b>{{marksList.english}}</li>
                    <li><b>Maths</b>{{marksList.maths}}</li>
                    <li><b>Science</b>{{marksList.science}}</li>
                    <li><b>Social</b>{{marksList.social}} </li>
                    <li><b>Tamil</b>{{marksList.tamil}}</li>
                    <!-- <li><b>Total</b>{{getTotalOutstanding()}}</li> -->


                </ul>
            </h4>
        </div>

    </div>

    <div *ngIf="markListFetched">
        <div class="fluid-container">
            <h4>
                <ul class="info-list">
                    <li><b>English</b>{{this.marksList.english}}</li>
                    <li><b>Maths</b>{{this.mat}}</li>
                    <li><b>Science</b>{{this.sci}}</li>
                    <li><b>Social</b>{{this.soc}} </li>
                    <li><b>Tamil</b>{{this.tam}}</li> 
                    <!-- <li><b>Total</b>{{getTotalOutstanding()}}</li> -->


                 </ul>
            </h4>
        </div>
        

    </div>

    <div class="colorful-animation" [@myAnimation]="animateState"></div>
<button (click)="startAnimation()">Start Animation</button>






     <!-- <div class="table-responsive" *ngIf="markListFetched"> 
       
    
          <table #firstTable  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
  
    
            <ng-container matColumnDef="english">
              <th class="w-5" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by shpi">
                Student ID
              </th>
              <td class="w-5" mat-cell *matCellDef="let element"> {{element.english}} </td>
            </ng-container>
    
    
            <ng-container matColumnDef="maths">
              <th class="w-5" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by shpi">
               Name
              </th>
              <td class="w-5" mat-cell *matCellDef="let element"> {{element.maths}} </td>
            </ng-container> 
    
            
             <ng-container matColumnDef="science">
              <th class="w-5" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username">
                Date of Birth
              </th>
              <td class="w-5" mat-cell *matCellDef="let element"> {{element.science}} </td>
            </ng-container> 
    
            
            <ng-container matColumnDef="social">
              <th class="w-5" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by password">
                Roll No
              </th>
              <td class="w-5" mat-cell *matCellDef="let element"> {{element.social}} </td>
            </ng-container>

            <ng-container matColumnDef="tamil">
                <th class="w-5" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by password">
                  Roll No
                </th>
                <td class="w-5" mat-cell *matCellDef="let element"> {{element.tamil}} </td>
              </ng-container>

  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div> 
   --> 





    <!-- <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div> -->





</body>