<!-- <head>
<title></title>
</head>
<body><h1>Student Application</h1>
<br>
<br>

<div class="container-fluid">
  

  <div class="row">
    <div class="form-group" class="col-md-6 mb-4">
      <div class="example-header">
<span style="color:blue;font-weight:bold;">Name &nbsp;</span>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name" [(ngModel)]="name">
        </mat-form-field> -->

        <!-- Name &nbsp;
        <input type="text" placeholder="Name" [(ngModel)]="name"> -->
      <!-- </div>
    </div>

    <div class="form-group" class="col-md-6 mb-4">
      <div class="example-header">
        <span style="color:blue;font-weight:bold;">Date of Birth &nbsp;</span>
        <mat-form-field appearance="outline">
       <mat-label> Date of Birth &nbsp;</mat-label>
        <input matInput type="text" placeholder="DOB" [(ngModel)]="dob">
      </mat-form-field>


      </div>
    </div> -->


  <!-- </div>
  <br>
  <br>

  <div class="row">
    <div class="form-group" class="col-md-6 mb-4">
      <div class="example-header">
        <span style="color:blue;font-weight:bold;">Roll No &nbsp;</span>
        <mat-form-field appearance="outline">
        <mat-label>Roll No &nbsp;</mat-label>
        <input matInput type="text" placeholder="Roll No" [(ngModel)]="rollNo">
      </mat-form-field>
      </div>
    </div>

    <div class="form-group" class="col-md-6 mb-4">
      <div class="example-header">
        <button class="btn btn-primary" type="submit" (click)="addStudent()">Add Student</button>
      </div>
    </div>
  </div> -->





  <!-- <br>
  <br>
  <br>

  <div class="table-area">
    <table>
      <thead>
        <th>S.No</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Roll No</th>
        <th>Marks</th>
        <th>Action</th>
      </thead>
      <tr *ngFor="let student of students;let index=index;">
        <td>{{index+1}}</td>
        <td>{{student.name}}</td>
        <td>{{student.dob}}</td>
        <td>{{student.rollNo}}</td>
        <td><button class="nav-item" (click)="navigate()">Marks</button> </td> -->
        <!-- <div *ngIf="marksCompo">
          <app-marks></app-marks>
        </div> -->
        <!-- <a href="/marks">Marks</a> -->
        <!-- <td><button class="btn btn-primary" (click)="delete(student)">Delete</button> </td>
      </tr>
    </table>
  </div>
</div>
<br>
<br>
<br>
</body> -->


<router-outlet></router-outlet>

<!-- <mat-form-field appearance="outline">
  <mat-label>Username</mat-label>
  <input matInput placeholder="Enter your username">
</mat-form-field>



<br>
<div class="form-group col-md-6 mb-4">
  <div class="example-header">
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth &nbsp;</mat-label>
      <input type="text" matInput placeholder="DOB" [(ngModel)]="dob">
    </mat-form-field>
  </div>
</div>



<br>


<form class="form">
  <div class="row">
    <div class="form-group" class="col-md-6 mb-4">
      <div class="example-header">
        <mat-form-field appearance="outline">
          <mat-label class="asterix--before">From Date</mat-label>
          <input readonly ngPreventCutCopyPaste ondragstart="return false;" name="fromdate" matInput>

        </mat-form-field>
        <span class="mat-error" style="margin-left:70px;  margin-top:-20px ;">
          From date is required
        </span>
      </div>
    </div>
  </div>
</form>




<p>
  <mat-form-field appearance="outline">
    <mat-label>Fill form field</mat-label>
    <input matInput>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>


<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin">Disabled</mat-checkbox>
</section> -->

<!-- <router-outlet></router-outlet> -->