<div class="offcanvas offcanvas-start" tabindex="-1" id="drawer">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" style="font-weight: 800;font-size: larger;">Menus</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled">
      <li><a style="font-size: large;" routerLink="/admin" routerLinkActive="active">Home</a></li><br>
      <li><a style="font-size: large;" routerLink="/addStudent" routerLinkActive="active">Add Student</a></li><br>
      <li><a style="font-size: large;" routerLink="/marks" routerLinkActive="active">Marks</a></li>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <li><a style="font-size: large;" routerLink="/" routerLinkActive="active">Logout</a></li>

     
      <!-- Add more menu items as needed -->
    </ul>
  </div>
  
</div>
<br>
<br>
<div class="margin-left=60px;">
  
  <mat-icon style="margin-left:20px;" (click)="openDrawer()">menu</mat-icon>
</div>
<br>

<h1>“ {{ currentQuote }} “ </h1>



<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-9 col-lg-6 col-xl-5">
    <img  src="assets/image/studentavatar.png"
      class="img-fluid" alt="Sample image">
  </div>
  </div>















