h1{
    font-weight: 500;
    color:red;
    margin-left:40%
}

p{
    color:blue;
    font-size: medium;
    
}

table{
    width:50%;
    color:purple
}

td{
    color:green;
}

// .form-area{
//     text-align: center;
// }

.table-area{
    width:75%;
    text-align:center;
}

#add{
    width:100px;
    height:25px;
    color:palevioletred
}
h4{
    font-weight: bolder;
    color:blueviolet;

}

#fetch{
    flex-grow: initial;
}